.bg-black {
    background-color: black;
}
.keyfr-showTop {
    opacity: 0;
    animation: topShow 3s ease 2.5s forwards;
}

.border-black {
    border: 1px solid black
}

.btn:hover {
    background-color: cornflowerblue;
}

.border-radius-50 {
    border-radius: 50px;
}
.b-rad-10 {
    border-radius: 10px;
}

