.bg-black {
    background-color: black;
}
.keyfr-showTop {
    opacity: 0;
    animation: topShow 3s ease 2.5s forwards;
}

.border-black {
    border: 1px solid black
}

.btn:hover {
    background-color: cornflowerblue;
}