$body-font-size: 18px;
$body-line-height: 1.5;

$desc-h1-fs: 60px;
$desc-h1-line-height: 90px;
$desc-h2-fs: 38px;
$desc-h2-line-height: 57px;
$desc-h3-fs: 24px;
$desc-h3-line-height: 45px;
$desc-h4-fs: 18px;
$desc-h4-line-height: 27px;

.fs-7 {
    font-size: 64px;
    line-height: 96px;
}

.fs-6 {
    font-size: 56px;
    line-height: 84px;
}

.fs-5 {
    font-size: 48px;
    line-height: 72px;
}

.fs-4 {
    font-size: 40px;
    line-height: 60px;
}

.fs-3 {
    font-size: 32px;
    line-height: 48px;
}

.fs-2 {
    font-size: 23px;
    line-height: 36px;
}


.fs-1 {
    font-size: 16px;
    line-height: 24px;
}

.fs-small {
    font-size: 12.8px;
    line-height: 19.2px;
}

.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}