@import 'colors';
@import 'spinnerCube';

.wrap__inner {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #FFFF00 6%, #FFA500 25%, #F14444 45%, #D53567 55%, #9A109A 94%);
  }
  
  .back-element {
    position: relative;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, .4);
  }
  
  .front-element {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .2);
    background: rgba(255, 255 ,255, .4);
    backdrop-filter: blur(10px);
  }


  .bg-grey {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .4);
  }

  .card-body {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background: rgba(255, 255 ,255, .4);
    backdrop-filter: blur(10px);
  }