@media (max-width: 2200px) {
  .weather-container {
    max-height: 270px;
    .front-face-of-glass {
      .container-additional-data {
        border-top: 1px solid black;
        .additional-data-item {
          width: 100%;
          margin-right: 20px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #nav-container {
    position: relative;
    flex-direction: row-reverse;

    .navbar-collapse {
      position: absolute;
      top: 33px;
      left: 10px;
      z-index: 10;

      .navbar-nav {
        margin-top: 10px;
        max-width: 200px;
        border-radius: 10px;
        background-color: white;
        align-items: flex-start;
      }
    }
  }
}

@media (max-width: 767px) {
  #nav-container {
    flex-direction: row;

    .navbar-collapse {
      right: 10px;
      left: auto;
    }
  }
  .weather-container {
    .front-face-of-glass {
      .container-data {
        justify-content: space-evenly !important;
        .description-item {
          display: none;
        }
        .addtitional-item {
          display: none;
        }
      }
    }
  }
}