.container-spinner-main-weather {
    margin-top: 20px;
    padding: 20px;
    min-height: 200px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, pink, lightblue);
    z-index: 5;
    .first-block {
        height: 150px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .second-block {
        width: 50%;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .item-spinner {
        height: 15%;
        width: 100%;
        background: lavender;
        .spinner {
            height: 100%;
            width: 20%;
            animation:  leftShowSmall linear 1s infinite  alternate;
            background-color: aliceblue;
            opacity: 0;
        }
    }
}