.container-welcom {
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    opacity: 0;
    animation: rightShow ease 3s 1 forwards;
    .searchFiled {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}
