.container-cities {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    align-items: center;
    gap: 10px;
    .container-img {
        position: relative;
        width: 100%;
        min-width: 230px;
        height: 100px;
        cursor: pointer;
            .city-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        .icon-weather {
            position: absolute;
            right: -6px;
            top: 14px;
        }
        .deg {
            font-size: 10px;
            vertical-align: top;
        }
    }
}

