.container-welcom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .mainField {
        position: relative;
    }
    .searchField {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        opacity: 0;
        animation: opacity 2s ease 3s forwards
    }
}
