.custom-checkbox {
    position: relative;
    width: 38px;
    height: 20px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid grey;
    label {
        position: absolute;
        cursor: pointer;
        top: 0.9px;
        right: 0;
        width: 15px;
        height: 10px;
    }

    .checkbox {

        margin-top: 0;
        margin-bottom: 0;
        opacity: 0;
        cursor: pointer;
    }

    .checkbox+label:before {
        content: "";
        position: absolute;
        top: 0;
        left: -17px;

        display: inline-block;
        width: 14px;
        height: 14px;

        border: 1px solid grey;
        border-radius: 50px;

        transition: 0.5s;
    }


    .checkbox:checked+label:before {
        left: -2px;
    }
}