$color-yellow:#fff176;
$color-pink: #ba68c8;
$color-blue: #64b5f6;
$color-green-light: #4db6ac;
$color-blue-light: #4dd0e1;

// colors of themes 

$color-dark-1: #434b4f;
$color-dark-2: whitesmoke;
$color-dark-3: #777c8e;

$color-light-1: lavender;
$color-light-2: lightblue;
$color-light-3: cornflowerblue;


$color-black: #434b4f;
$color-black-lighter: #777c8e;
$color-whitesmoke: whitesmoke;
$color-grey: #777c8e;

$color-lavender: lavender;
$color-lightblue: lightblue;
$color-cornflowerblue: cornflowerblue;



$color-dark-main: $color-black;
$color-dark-main-lighter: $color-black-lighter;
$color-dark-additional: $color-grey;
$color-dark-additional-lighter: $color-whitesmoke;

$color-light-main: $color-lavender;
$color-light-additional: $color-cornflowerblue;
$color-light-additional-lighter: $color-lightblue;