@mixin pos-center {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-link:hover,
.nav-item:hover,
.nav-link:focus,
.nav-item:focus {
  text-decoration: underline;
}

.keyfr-showTop {
    opacity: 0;
    animation: topShow 3s ease 2.5s forwards;
}



.border-radius-50 {
    border-radius: 50px;
}
.b-rad-10 {
    border-radius: 10px;
}
