html[data-theme="dark"] {
  .bg-main {
    background-color: $color-dark-main;
  };
  .bg-gradient-main {
    background: linear-gradient(45deg, $color-dark-main, $color-dark-main-lighter);
  };
  .bg-additional {
    background-color: $color-dark-additional-lighter;
  };
  .bg-additional-lighter {
    background-color: $color-dark-additional-lighter;
  };
  .bg-cube-side {
    background-color: $color-dark-additional-lighter;
  };
  .bg-brand {
    background-color: $color-dark-main-lighter;
  }

  .color-main {
    color: $color-dark-main;
  }
  .color-main-lighter {
    color: $color-dark-main-lighter;
  }
  .color-additional {
    color: $color-dark-additional-lighter;
  }
  .color-additional-lighter {
    color: $color-dark-additional-lighter;
  }
  .color-brand {
    color: $color-dark-additional-lighter;
  }
  .dropdown-toggle {
    color: $color-dark-main-lighter
  }

  .custom-checkbox {
    .checkbox+label:before {
      background-color: $color-dark-main-lighter;
    }

    .checkbox:checked+label:before {
      background-color: $color-dark-main;
    }
  }

  .btn:hover,
  .form-control:focus,
  .form-select:focus {
    box-shadow: 0 0 5px 2px $color-dark-main inset;
  }
  .btn {
    border: 1px solid $color-dark-additional-lighter;
    filter: invert(1);
    color: black;
  }
}


html[data-theme="light"] {
  .bg-main {
    background-color: $color-light-main;
  };
  .bg-gradient-main {
    background: linear-gradient(45deg, cornflowerblue, lightblue);
  };
  .bg-additional {
    background-color: $color-light-additional;
  };
  .bg-additional-lighter {
    background-color: $color-light-additional-lighter;
  };
  .bg-cube-side {
    background-color: $color-light-main;
  };
  .bg-brand {
    background-color: $color-light-additional-lighter;
  }
  .color-main {
    color: $color-light-main;
  }
  .color-additional {
    color: $color-light-additional;
  }
  .color-additional-lighter {
    color: $color-light-additional-lighter;
  }
  .color-brand {
    color: $color-light-additional;
  }




  .custom-checkbox {
    .checkbox+label:before {
      background-color: $color-light-additional;
    }

    .checkbox:checked+label:before {
      background-color: $color-light-additional;
    }
  }

  .btn:hover,
  .form-control:focus,
  .form-select:focus {
    box-shadow: 0 0 5px 1px $color-light-additional inset;
  }
  .btn {
    border: 1px solid $color-dark-main;
    color: $color-light-additional;
  }
}